.header {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
}

.conteiner {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.headerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar {
  display: none;
  align-items: center;
}

.navItem {
  list-style: none;
  margin-right: 100px;
}

.navItem:last-child {
  margin-right: 0;
}

.navLink {
  text-decoration: none;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.2px;
  transition: 0.7s;
}

.navLink:hover{
  color: #fa4a0c;
}

.linkSelected {
  color: #fa4a0c;
}

@media (min-width: 768px) {
  .navBar {
    display: flex;
  }

  .headerContent {
    justify-content: space-between;
  }
}
